body{
  background - repeat : no-repeat;
   background-image: url("https://doreenpandi.github.io/Pandi_WebDev_Midterm/img/2131639.jpg");
}
*{
  font-family: Courier;
  padding: 2px;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid white;
  text-align: right;
}
.home{
  width:100%;
    height:100vh;
    color:white;
    display: flex;
    align-items:center;
  max-width: 500px;
  margin: auto;
}
.days{
  background-color: #222222;
  font-size: large;
}
.head{
  font-size: 150%;
  width:100%;
    height: 5px;
    display: flex;
    align-items:center;
    padding: 50px;
    text-align: center;
}
