
#id-contain{
  background:#222222;
  border: 2px solid white;
  width: 25%;
  border-radius: 12px;
  padding: 10px;
}
input[type=button] {
  background: black;
  color: white;
  width: 20%;
  font-size: 20px;
  font-weight: 900;
  border-radius: 7px;
  margin-left: 13px;
  margin-top: 10px;
}
input[type=button]:hover {
  background-color: white;
  color: black;
}

input[type = text] {
  display: block;
  border-radius: 12px;
  width: 90%;
  margin: 5px auto;
  font-size: 20px;
  padding: 10px;
}
#erase{
  background: red;
  color: white;
}
#operator{
  background: #A9A9A9;
}
